@page
@model ProgramModel
@{
    ViewData["Title"] = "Model"; 
}
<h1>@ViewData["title"]</h1>

<form method="post" enctype="multipart/form-data">
    Please upload an image: <input id="image" type="file" asp-for="image.file"/></br>
    <input id="predict" type="submit" value="Predict"/>
</form>

<p>You can test the application here.</p>
